@tailwind base;
@tailwind components;
@tailwind utilities;

/* =====================sidebar====================================== */

@import 'https://fonts.googleapis.com/css?family=Roboto';
body{
  background-color: #686b70;


}
.side-menu {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 60px;
  list-style-type: none;
  background: #686b70;
  overflow: hidden;
  transition: width 0.6s ease-in-out;
}







.side-menu:hover {
  width: 250px; /* Change to auto */
}


.side-menu li {
  width: 300px;
  margin: 0;
}
.side-menu li span {
  font-size: 1rem;
  margin: 20px 30px 0 22px;
}
.side-menu li img {
  font-size: 1rem;
  margin: 0 0 0 20px;
}

.side-menu li a {
  display: flex;
 
  padding-top: 20px;
  font-size: .9rem;
  text-decoration: none;
  height: 60px;
  color: #14081d;
}

.side-menu li a:hover,
.side-menu li:first-child a {
  background:#8a8ce7;
  
  color: white;
  display: flex;
}


.side-menu li a img{
 background-color:#fff;
 /* background-color: #EAEEF6; */
}


.drop-side{
margin: 0 65px 0 0  ;
}
.drop-side2{
width:100px;
}





/* =============================================sidebar-finish============================================= */










/* =====================================dark mode started======================== */
.light-theme{
    color: #333;
    background-color: #fff;
}.dark-theme{
    color: #fff;
    background-color: #333;
}





/* 

================================dashboard heading=====================

*/

.heading{
  margin: 0 0 0 0;
}





/* ==================================drop-content=========================================== */