.category {
    width: 19.5vw;
    border-radius: 10px;
}

.single {
    padding: 30px 15px;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.single h3.side-title:after {
    content: "";
    width: 60px;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px;
}

.single ul {
    margin-bottom: 0;
}

.single li a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.single li a:hover {
    color: #ff173c;
}

.single li:last-child a {
    border-bottom: 0;
}

@media (max-width: 1440px) {
    .category {
        width: 21vw;
        margin-top: 10px;
    }
}

@media (max-width: 1024px) {
    .category {
        width: 30vw;
        margin-top: 10px;
        margin-left: -23px;
    }
}

@media (max-width: 768px) {
    .category {
        margin-left: -19px;
        width: 38rem;
    }

    .category .unstyled {
        width: 54rem;
    }
}

@media (max-width: 426px) {
    .category {
        margin-left: -19px;
        width: 38rem;
    }

    .category .unstyled {
        width: 54rem;
    }
}
@media (max-width: 375px) {
    .category {
        /* margin-left: -19px; */
        width: 35rem;
    }

    .category .unstyled {
        width: 54rem;
    }
}
@media (max-width: 325px) {
    .category {
        /* margin-left: -19px; */
        width: 34rem;
    }

   
}
