.comment{
   
}


.be-comment-block {
    /* margin-bottom: 50px !important; */
    /* border: 1px solid #edeff2; */
    border-radius: 2px;
    padding: 38px 50px;








    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.03);


    /* border:1px solid #ffffff; */
}

.comments-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px 0 0 23px;

}

.be-comment-content {
    margin-left: 80px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b5b8c2;
    /* padding-bottom: 20px; */
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 20px;
    /* padding-top: 10px; */
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #adb9db;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #748bd5;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #383c46;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 22px;
    border-radius: 55px;
    margin: -12px 0 35px 0;
}

.form-group.fl_icon .icon {
    position: relative;
    top: 49px;
    left: 43px;
    width: 48px;
    /* float: left; */
    height: 48px;
    border-radius: 50px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
    border-radius: 50px;
    border: 1px solid #000000;
    /* margin-bottom: 10px; */
    width: 17vw;
    margin: 0 0 10px 47px;
}

.form-group textarea.form-input {
    height: 150px;
    border-radius: 60px;
    border: 1px solid #000000;
    padding-left: 45px;
    margin-bottom: 10px;
}