.footer-contact{
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
width: 60vw;
height:72vh;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}

.contact-us-modal {
  /* width: 100%; */
  /* height: 100%; */
  /* color: #000; */
 padding: 15px;
  
  display: flex;
  justify-content: center;
  align-items:flex-end;
  z-index: 999;
}

  
  /* Add any additional styling for the modal content if needed */
  
.ftco-section {
    padding: 7em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
  
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
  .form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.3) !important; }
    .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.3) !important; }
    .form-control:-ms-input-placeholder {
      /* IE 0+ */
      color: rgba(0, 0, 0, 0.3) !important; }
    .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.3) !important; }
    .form-control:focus, .form-control:active {
      border-color: #46b5d1 !important; }
  
  textarea.form-control {
    height: inherit !important; }
  
  .wrapper {
    width: 100%; }
  
  .contact-wrap {
    background: #fff; }
  
  @media (max-width: 767.98px) {
    .info-wrap {
      height: 400px; } }
  
  .dbox {
    width: 100%;
    margin-bottom: 25px; }
    @media (max-width: 767.98px) {
      .dbox {
        margin-bottom: 25px !important;
        padding: 0 20px; } }
    .dbox p {
      margin-bottom: 0; }
      .dbox p span {
        font-weight: 500;
        color: #000; }
      .dbox p a {
        color: #46b5d1; }
    .dbox .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #46b5d1;
      margin: 0 auto;
      margin-bottom: 20px; }
      .dbox .icon span {
        font-size: 20px;
        color: #fff; }
    .dbox .text {
      width: 100%; }
  
  .btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .btn:hover, .btn:active, .btn:focus {
      outline: none !important; }
    .btn.btn-primary {
      background: #46b5d1 !important;
      border-color: #46b5d1 !important;
      color: #fff; }
      .btn.btn-primary:hover, .btn.btn-primary:focus {
        border-color: #2d9bb7 !important;
        background: #2d9bb7 !important; }
  
  .contactForm .label {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600; }
  
  .contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; }
  
  #contactForm .error {
    color: red;
    font-size: 12px; }
  
  #contactForm .form-control {
    font-size: 16px; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: red; }
  
  #form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: 500; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: bold; }
  