
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

/* ====================read section============= */
.news-content .read-section img{
    float: left;
    padding-right: 10px;
    /* display: none; */
}
.news-content .read-section h2{
    /* float: left; */
    /* margin-top: -174px; */
    /* text-align: right; */
    /* margin-right: -310px; */
    font-family: "Tilt Neon", sans-serif;
    font-weight: 600;
    font-size:1.5vw;
}
.news-content .read-section p{
    /* float: left; */
    /* margin-top: -174px; */
    /* margin-right: -301px; */
    font-family: "Tilt Neon", sans-serif;
    /* font-weight: 600; */
    /* font-size:1.5vw; */
}

.news-content .about-section .col-xl-3 {
   width: 23vw;
    
/* margin: auto; */
}.news-content .about-section h5{
    color:#000000;
    font-size: large;
    font-family: "Tilt Neon", sans-serif;
    font-weight: 600;
    
/* margin: auto; */
}