/* h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
} */

.slider-head {
    margin-top: 15px;
    padding-left: 0;
}
.slider-head h4 {
    background-color: #3756f7;
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    margin-bottom: 0;
    padding: 5px 10px;
    display: inline-block;
}

.slider {
    /* margin: 0; */
    margin: -1px;
    background: #f9faff;
    border: 1px solid #e9edff;
    height: 15vh;
    /* border-top: 1px solid #e9edff; */
    transition: all 0.6s ease-in-out;
    padding: 20px;
}
.carousel {
    transform: translate3d(20px, 0, 0);
    transition: all 0.6s ease-in-out;
}
.slider .carousel .carousel-inner {
    /* transform: translate3d(10px, 0, 0); */
    transition: all 0.6s ease-in-out;
    /* margin: 10px; */
}
.slider .carousel .carousel-inner .carousel-item {
    /* transform: translate3d(10px, 0, 0); */
    transition: all 0.6s ease-in-out;
    /* margin: 10px; */
}
.carousel .carousel-inner .carousel-item {
    transition: all 0.6s ease-in-out;
    /* transform: translate3d(10px, 0, 0);
    transition: all 0.6s; */
    /* padding: 10px
    ; */
    /* width: 10px; */
    /* margin: 10px; */
    /* margin: 10px; */
}
.carousel .carousel-inner .carousel-item .slide-news {
    /* transform: translate3d(10px, 0, 0);
    transition: all 0.6s; */
    /* padding: 10px; */
    border-right: 2px solid #e9edff;
    /* height: 100vh; */
    width: 33%;
    /* min-height: 10px; */
    /* margin: 10px; */
    /* margin: 10px; */
}
.carousel .carousel-inner .carousel-item .slide-news .thumbnail {
    /* transform: translate3d(10px, 0, 0);
    transition: all 0.6s; */
    /* padding: 10px; */
    /* margin: 10px; */
    /* margin: 10px; */
    /* width: 100px; */
     text-decoration: none; 
    color: #777777; 
    /* height: 100px; */
    /* background-color: skyblue; */
    /* text-align: center; */
    /* color: white; */
    /* font-size: 30px; */
}
.slider .carousel .carousel-inner .carousel-item .slide-news .thumbnail img {
    /* transform: translate3d(10px, 0, 0);
    transition: all 0.6s; */
    /* padding: 10px; */
    /* margin: 10px; */
    /* margin: 10px; */
    width: 40%;
    /* height: 50%; */
/* display: block; */
    float: left;
    border-radius: 6px;
    margin-right:15px ;
    /* background-color: skyblue; */
    /* text-align: center; */
    /* color: white; */
    /* font-size: 30px; */
}
.carousel .carousel-inner .carousel-item .slide-news  .slide-lines {
   color: #444444;
   font-weight:bold;
   padding-top:10px ;
   font-size: 18px;
   font-style: bold;
   /* background-color: #444444; */
}


.carousel-control-prev,.carousel-control-next{
    /* height: 10px; */
    
    /* background: #444444; */
}