/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");




.User-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width:78px;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}


.User-sidebar:hover {
    width: 230px;
}

/* hide tha mob display */
.mobile {
    display: none;
}


.User-sidebar .logo-details {
    height: 60px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    padding-left: 5px;
    position: relative;
}

.User-sidebar .logo-details .head {
    transition: all 0.6s ease-in-out;
    color: #fff;
    /* margin:  10px 0 0 ; */
    padding-left: 35px;
}



.User-sidebar i {
    color: #fff;
    height: 55px;
    min-width: 30px;
    font-size: 26px;
    text-align: center;
    line-height: 55px;
}


.User-sidebar .list-items  {
    position: absolute;
    margin-top: 15px;
    
    transition: all 0.4s ease-in-out;
    
}
.User-sidebar .list-items a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
  

    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    background: #11101d;
}

.li-names{
    color: #fff;

}

    .active-link {
        /* background-color: red; */
        color: red;
      }
      

.User-sidebar .list-items span{
    padding-left: 35px;
}




.User-sidebar .list-items a:hover {
    background: #fff;
    color: #11101d;
    width: 11vw;
  

}
.User-sidebar .list-items a:hover i {
    transition: all 0.6s ease-in-out;
    color: #11101d;
 
    background-color: aqua;
    border-radius: 13px;
  }
  
.User-sidebar .list-items i {
    height: 50px;
    width: 50px;
    line-height:50px;
    font-size: 20px;
    border-radius: 12px;
}






/* for 4kscreen */
/* Media query for screen 2560px and below */
@media  (max-width: 2560px) {
  .mob-sidebar.mobile ,.toggle-btn{
      display: none;
  }
}
@media (max-width: 1440px) {
  .mob-sidebar.mobile {
      display: none;
  }
  .User-sidebar .list-items a:hover {
    background: #fff;
    color: #11101d;
    width: 14vw;
  

}

}

/* media query for screen 1280 px */
@media screen and (max-width: 1280px) {
    .User-sidebar:hover {
        width: 218px;
    }

    .mobile , .drop-down2 {
        display: none;
    }
    
    .User-sidebar .list-items a:hover {
        background: #fff;
        color: #11101d;
        width: 15vw;
      
    
    }


}

/* media query for screen 1024 px */

/* Media query for screen 1024px or below */
@media screen and (max-width: 1024px) {
    .container{
        transition: all 0.6s ease-in-out;
    }
    .desktop,.drop-down2 {
      display: none;

    }
  .toggle-btn{
    display: block;
  }
    .mob-sidebar {
    
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width:178px;
      background: #11101d;
      padding: 6px 14px;
      z-index: 99;
      transition: all 0.6s ease-in-out;
      overflow: hidden;
    }
    .mob-sidebar .active{
    }
  
    /* .mob-sidebar.open {
      transform: translateX(0);
    } */



.close-menu{
    /* align-content: end; */
    margin: 10px 0 -40px 100px;
}

  
    .btn {
      transition: margin 0.5s;
      margin: 15px 0 0 45px;
      /* padding: 10px 5px 10px  5px; */
     padding: 5px;
      /* color: #fff; */
      /* font-size: 20px; */
    }.btn i {
      /* transition: margin 0.5s; */
      padding: 5px;
      /* margin: 15px 0 0 45px; */
      /* color: #fff; */
      /* font-size: 20px; */
    }



  
    .mob-sidebar .logo-details {
      height: 50px;
      display: flex;
      margin: 10px 0 13px 0 ;
      /* padding-right: ; */
      color: #fff;
      font-size: 14px;
      align-items: center;
    }
  
    .mob-sidebar i {
      color: #fff;
      height: 60px;
      min-width: 50px;
      font-size: 20px;

      text-align: center;
      /* line-height: 60px; */
    }
  
   
  
  
 
  
  
   
    .mob-sidebar .li-names {
      color: #fff;
      overflow: hidden;
      font-size: 12px;
      font-weight: 400;
      white-space: nowrap;
      transition: 0.4s;
      /* margin: 10px; */
      /* padding: 10px; */
      float: left;
    } 
    
  
    
    .mob-sidebar .sp-name {
    float: right; 
    }
  .mob-sidebar .active-link {
      color: #ff6600;
      font-weight: bold; /* You can adjust this as needed */
    }
  
  
  }
  
















/* @media (max-width: 960px) and (min-width: 900px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
} */

/* media   (max-width: 834px) and query for screen 786 px */
@media  (max-width: 768px) {
    .desktop {
        display: none;
    }
    .drop-down2{
        display: block;
        position: fixed;
       
        
        bottom: 0;
        margin-bottom: 30px;
       
    }
    .drop-down2 i{
     
        padding: 1px 0 0 0;
        float: left;
     
    }



    .drop-content{
        /* display: flex; */
        position: fixed;
        padding: 330px 120px 19px 0;
        /* top: 0; */
        /* right: 0; */
        /* margin :-30% 0  0 60% ; */
        /* overflow: hidden; */
        /* background: transparent; */
    
    }
    .pop-ups{
        /* background-color: #fff; */
    }





    .mob-sidebar .logo-details {
        height: 50px;
        display: flex;
        color: #fff;
        font-size: 14px;
        align-items: center;
      }
    
      .mob-sidebar i {
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 20px;
        
      }
    
     
    
    
   
    
    
     
      .mob-sidebar .li-names {
        color: #fff;
        overflow: hidden;
        font-size: 12px;
        font-weight: 400;
        white-space: nowrap;
        transition: 0.4s;
        margin: 4px;
      } 
      
    
      .mob-sidebar .active-link {
        color: #ff6600;
        font-weight: bold; 
      }



  
}

/* 800 screen size */
/* @media (max-width: 800px) {
    .desktop {
        display: none;
    }
} */

/* for mobile view================================== */
/* Your mobile-specific CSS rules go here */
/* @media (max-width: 599px) {
    .desktop {
        display: none;
    }
    .drop-down {
        display: none;
    }
} */

/*=================== mobile view side bar================ */
@media (max-width: 420px) {
    .desktop {
        display: none;
    }
}