/* Reset CSS */

/* Container */
.container {
    width: 65vw;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

/* Updates */
.update {
    font-size: 14px;
    float: left;
    padding: 8px;
    border: 1px solid;
    color: #fff;
    background-color: #616161ff;
}

.update span {
    background: #616161;
    color: #fff;
    display: block;
    font-size: 14px;
}

/* News Line */
.news-line {
    font-size: 14px;
    margin-left: 110px;
    padding: 10px 10px;
    white-space: nowrap;
}

/* Media Queries */




@media (min-width: 1440px) {
    .container {
        width: 65vw;
    }
    
}

@media (max-width: 1024px) {
    .container {
        width: 90vw;
    }

    .update {
        font-size: 14px;
        text-align: center;
        width: 105px;
    }

    .news-line {
        font-size: 12px;
    }
}

@media (max-width: 834px) and (min-width: 768px) {
    .container {
        min-width: fit-content;
    }

    .update {
        text-align: center;
        width: 105px;
    }

    .news-line {
        font-size: 12px;
    }
}

@media (max-width: 599px)  and (min-width: 425px){
    .container {
        width: 80vw;
        margin: 0 0 0 35px;
    }

    .update {
        float: none;
        width: 45%;
        margin: 0px 0 10px 75px;
        text-align: center;
    }

    .news-line {
        font-size: 12px;
        margin-left: 0;
        padding: 5px 0;
        white-space: normal;
    }
}

/* Other CSS */

/* Sidebar Styles */
.User-sidebar {
    /* Add your sidebar styles here */
}

/* Logo and Header Styles */
.logo-details {
    /* Add your logo and header styles here */
}

/* Mobile Sidebar Styles */
.mobile {
    /* Add your mobile sidebar styles here */
}

/* Home Section Styles */
.home-section {
    /* Add your home section styles here */
}
